<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      CodeNames
    </div>
  </div>
</div>
<div id="board">
  <div class="row">
    <div class="col-md-2" id="slot1"><%=@emptyarray[0].name %></div>
    <div class="col-md-2" id="slot2"><%=@emptyarray[1].name %></div>
    <div class="col-md-2" id="slot3"><%=@emptyarray[2].name %></div>
    <div class="col-md-2" id="slot4"><%=@emptyarray[3].name %></div>
    <div class="col-md-2" id="slot5" ><%=@emptyarray[4].name %></div>
  </div>
  <div class="row">
    <div class="col-md-2" id="slot6"><%=@emptyarray[5].name %></div>
    <div class="col-md-2" id="slot7"><%=@emptyarray[6].name %></div>
    <div class="col-md-2" id="slot8"><%=@emptyarray[7].name %></div>
    <div class="col-md-2" id="slot9"><%=@emptyarray[8].name %></div>
    <div class="col-md-2" id="slot10"><%=@emptyarray[9].name %></div>
  </div>
  <div class="row">
    <div class="col-md-2" id="slot11"><%=@emptyarray[10].name %></div>
    <div class="col-md-2" id="slot12"><%=@emptyarray[11].name %></div>
    <div class="col-md-2" id="slot13"><%=@emptyarray[12].name %></div>
    <div class="col-md-2" id="slot14"><%=@emptyarray[13].name %></div>
    <div class="col-md-2" id="slot15"><%=@emptyarray[14].name %></div>
  </div>
  <div class="row">
    <div class="col-md-2" id="slot16"><%=@emptyarray[15].name %></div>
    <div class="col-md-2" id="slot17"><%=@emptyarray[16].name %></div>
    <div class="col-md-2" id="slot18"><%=@emptyarray[17].name %></div>
    <div class="col-md-2" id="slot19"><%=@emptyarray[18].name %></div>
    <div class="col-md-2" id="slot20"><%=@emptyarray[19].name %></div>
  </div>
  <div class="row">
    <div class="col-md-2" id="slot21"><%=@emptyarray[20].name %></div>
    <div class="col-md-2" id="slot22"><%=@emptyarray[21].name %></div>
    <div class="col-md-2" id="slot23"><%=@emptyarray[22].name %></div>
    <div class="col-md-2" id="slot24"><%=@emptyarray[23].name %></div>
    <div class="col-md-2" id="slot25"><%=@emptyarray[24].name %></div>
  </div>
</div>
<div class="red-male-cards">
  <span id="red1" class="red-male"><img src="../images/redmale.png" class="redmale"/></span>
  <span id="red2" class="red-male"><img src="../images/redmale.png" class="redmale"/></span>
  <span id="red3" class="red-male"><img src="../images/redmale.png" class="redmale"/></span>
  <span id="red4" class="red-male"><img src="../images/redmale.png" class="redmale"/></span>
</div>
<div class="red-female-cards">
  <span id="red5" class="red-female"><img src="../images/redFemale.png" class="redfemale"/></span>
  <span id="red6" class="red-female"><img src="../images/redFemale.png" class="redfemale"/></span>
  <span id="red7" class="red-female"><img src="../images/redFemale.png" class="redfemale"/></span>
  <span id="red8" class="red-female"><img src="../images/redFemale.png" class="redfemale"/></span>
</div>
<div class="blue-male-cards">
  <span id="blue1" class="blue-male"><img src="../images/bluemale.png" class="bluemale"/></span>
  <span id="blue2" class="blue-male"><img src="../images/bluemale.png" class="bluemale"/></span>
  <span id="blue3" class="blue-male"><img src="../images/bluemale.png" class="bluemale"/></span>
  <span id="blue4" class="blue-male"><img src="../images/bluemale.png" class="bluemale"/></span>
</div>
<div class="blue-female-cards">
  <span id="blue5" class="blue-female"><img src="../images/blueFemale.png" class="bluefemale"/></span>
  <span id="blue6" class="blue-female"><img src="../images/blueFemale.png" class="bluefemale"/></span>
  <span id="blue7" class="blue-female"><img src="../images/blueFemale.png" class="bluefemale"/></span>
  <span id="blue8" class="blue-female"><img src="../images/blueFemale.png" class="bluefemale"/></span>
</div>
<div class="bystander-male-cards">
  <span id="bystander1" class="bystander-Male"><img src="../images/bystanderMale.png" class="bystanderMale"/></span>
  <span id="bystander3" class="bystander-Male"><img src="../images/bystanderMale.png" class="bystanderMale"/></span>
  <span id="bystander4" class="bystander-Male"><img src="../images/bystanderMale.png" class="bystanderMale"/></span>
  <span id="bystander5" class="bystander-Male"><img src="../images/bystanderMale.png" class="bystanderMale"/></span>
  <span id="bystander6" class="bystander-Male"><img src="../images/bystanderMale.png" class="bystanderMale"/></span>
  <span id="bystander7" class="bystander-Male"><img src="../images/bystanderMale.png" class="bystanderMale"/></span>
</div>
<div class="assassin-card">
  <span id= "assassin1" class="assassin-Male"><img src="../images/assassin.png" class="assassin"/></span>
</div>
<div class="double-red-cards">
  <span id="doubleagent1" class="doubleagent-red"><img src="../images/doubleAgentred.png" class="doubleagent_red"/></span>
</div>
<div class="double-blue-cards">
  <span id="doubleagent2" class="doubleagent-blue"><img src="../images/doubleAgentblue.png" class="doubleagent_blue"/></span>
</div>
<button type="button" id="reveal-key">Reveal Spy Master Secret-Key</button>
<div id="secret-key-dialog">
  <img src="../images/secret_code.png" class="secret-code"/>
</div>
